# Node modules
node_modules/

# Environment variables
.env
.env.local

# Build directories
build/
dist/
.next/
out/

# Logs
*.log

# IDE and editor folders
.vscode/
.idea/

# System files
.DS_Store

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Others
*.node
*.dll
